@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.Resources.Error;
}
<hgroup>
    <h1 class="text-error">@Resources.Resources.Error.</h1>
    <h2 class="text-error">@Resources.Resources.GenericError</h2>
</hgroup>