@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.Resources.LockedOut;
}
<hgroup>
    <h1 class="text-error">@Resources.Resources.LockedOut.</h1>
    <h2 class="text-error">@Resources.Resources.LockedOutMessage</h2>
</hgroup>