@{
    ViewBag.Title = "Completion";
}

<div class="alert alert-info fade in margin-bottom-0">
    <button class="close" data-dismiss="alert">
        ×
    </button>
    
    <h3><i class="fa-fw fa fa-check"></i>@ViewBag.Status.</h3>
</div>
<div class="progress progress-sm progress-striped active margin-bottom-0 margin-top-0">
    <div class="progress-bar bg-color-darken" role="progressbar" style="width: 100%"></div>
</div>
<div class="alert alert-success fade in ">
    <button class="close" data-dismiss="alert">
        ×
    </button>
    
    <h4><i class="fa-fw fa fa-info"></i><strong>Total Mark:</strong>  @ViewBag.TotalMark out of @ViewBag.TotalQuestions.</h4>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };
        });
    </script>
}﻿

