@{
    ViewBag.Title = Resources.Resources.ForgotPasswordConfirmation;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resources.ForgotPasswordCheck
    </p>
    <p class="text-danger">
        For DEMO only: You can click this <a href="@ViewBag.Link">link</a> to reset password:
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>