@{
    ViewBag.Title = Resources.Resources.ResetPasswordConfirmation;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resources.PasswordReset @Resources.Resources.Please @Html.ActionLink(Resources.Resources.ClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>